header {
    background: #353637;
    color: white;
    padding-top: 0.5em;
    min-height: 70px;
    border-bottom: firebrick 3px solid;

}

.header-container {
    width:95%;
    margin: auto;
    overflow: hidden;
}

/* link elements in the header*/
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

/* current class in header,  puts a red underline below the name of the current page */
header .current a{
    border-bottom: red 3px solid;
    font-weight: bold;

}
/*list elements in the header*/
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav {
    float: right;
}

nav .icon {
  display: none;
}


/*
  When the screen is less than 785 px, hide the links and show the hambruger menu icon

*/
@media screen and (max-width: 785px) {
    header li {
      padding: 0em;
      font-size: 10px;
    }

    header nav a {
       display: none;
    }

    header nav a.icon {
        float: right;
        display: block;
    }
}

